<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>One of the best place never ever i forget in my life</h1>
        <h1>i'm loved the place are present in Tirupathi environment</h1>
        <a href="{% url 'Tirumala' %}"><h2>Visit Tirumala atleast once's your Life</h2></a>
        <a href="{% url 'some:sweety' %}"><h2>Go to sweety</h2></a> 
    </center>
</body>
</html>