<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>In Tirumala 🙏 LORD VENKATESWARA Swamy🙏 temple </h1>
        <h1>The Lord Balaji temple is located in SevenHill's top of the Hill</h1>
        <h1>It is famous temple of us and So many people's are like to visit that temple</h1>
        <h1>Om Namo Venkatesaya</h1>
        <a href="{% url 'Tirupathi' %}"><h2>Go Back to Home safe</h2></a>
        <a href="{% url 'some:sweety' %}"><h2>Go to sweety</h2></a> 
    </center>
</body>
</html>